body {
  margin: 0;
  background-color: #85929E;
}

*/Text Styles*/

h1 {
  font-family: 'PT Sans Narrow', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1.5em;
  color: #323232;
  text-align: left;
  padding: 0px 0 0px 0;
  margin: 0px;
}
h2 {
  font-family: 'PT Sans Narrow', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1em;
  color: #323232;
  text-align: left;
  margin: 0px 0 0px 0;
}
h3 {
  font-family: 'PT Sans Narrow';
  text-shadow:0 0 1px transparent;
  font-size: .75em;
  color: #323232;
  text-align: center;
  margin: 0px;
  display: inline;
}
p {
  font-family: 'PT Serif';
  text-shadow:0 0 1px transparent;
  font-size: .875em;
  color: #323232;
  line-height: 1.75em;
  text-align: left;
}
#mainnav {
  font-family: 'PT Sans', bold;
  text-shadow:0 0 1px transparent;
  font-size: 1em;
  color: #323232;
}
#sidenav {
  font-family: 'PT Sans', bold;
  text-transform: uppercase;
  text-shadow:0 0 1px transparent;
  font-size: 1em;
  color: #323232;
  justify-content: space-around;
}
#teacher {
  list-style-type: none;
}
#courses {
  list-style-type: none;
}
#rating {
  list-style-type: none;
}

*/Page Styles*/

.topnav {
  display: flex;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  margin: 5px;
  border-bottom: 5px solid #000;
  padding: 0;
  overflow: hidden;
}
#main {
  list-style-type: none;
  display: flex;
  float: left;
}
#side {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  float: right;
}
.teacherline1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.teacherline2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2%;
  width: 100%;
}
.teacherbox {
  background-color: #008B8B;
  display: inline-block;
  box-sizing: border-box;
  height: 250px;
  width: 30%;
  border: 2px solid #000;
  margin: 1px 1px 1px 1px;
}
.teacherinfo {
  display:inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 130px;
  border-bottom: 2px solid #000;
}
.teachercourses {
  display: inline-flex;
  width: 50%;
  height: 115px;
  border-right: 2px solid #000;
  padding: ;
}
.teacherrating {
  display: inline-flex;
  padding: ;
}

.studentline1 {

}
.studentbox {

}
.studentname {

}
.studentinfo{

}

.coursesline1 {

}
.coursesline2 {

}
.coursesline3{

}
.coursesbox {

}


*/Image Styles*/

.teacherimage #circleimage {
  border-radius: 50%;
  width: 20%;
  height: 70px;
  margin: 0 0px 0 0px;
}
.studentname #studentimage {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
